<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Restaurant Catalogue For You">
    <link rel="icon" href="./favicon.png">
    <title>NomNom Resto</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="menu">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1 tabindex="0">NomNom Resto</h1>
    </div>
    <nav id="drawer" class="app-bar__navigation">
      <ul class="nav__list">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://www.instagram.com/zessalz/">About Us</a></li>
      </ul>
    </nav>
    </header>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Selamat Datang di NomNom Resto</h1>
        <p class="hero__tagline">
          Nikmati Hari Anda dengan Kelezatan di Setiap Sudut Kota
        </p>
      </div>
    </div>
    
    <main id="maincontent"></main>

    <footer>
      <p>Copyright &#169; 2023 - NomNom Resto (Zesika Salsa Zahara)</p>
    </footer>
  </body>
</html>
